{% extends "layout.html" %}

{% block title %} FMI Unibuc {% endblock %}

{% block header %} <p class="titlupag"> Anunturi FMI </p> {% endblock %}
{% block script %} 
<script>
    $(document).ready(function() {

        
        $('.textanunt').each(function() {
            var text = $(this).text();
            $(this).empty();
            $(this).append($.parseHTML(text));
        });
    } );
</script>
{% endblock %}
{% block body %}

<br>
<p style="color: #8c8c8c; margin-left: 15%; margin-right: 15%;">
    <b>
        Anuntul este destinat urmatoarelor grupe:
            {% for grupa in news.grupe %}
                &nbsp;{{ grupa[0] }}
            {% endfor %}
    </b>
</p>

<div style="border-style: solid; border-width: 3px; border-color: #758db2; border-radius: 10px; width: 70%; margin-left: 15%;">
    <p class="textanunt" style="font-size: 18px; margin-left: 15px; margin-top: 10px; margin-right: 10px;">
        {{ news.text }}
    </p>

    <br>

</div>

<div style="width: 70%; margin-left: 15%; margin-top: 10px;">
    <div style="text-align-last: right; color: #8c8c8c; margin-bottom: 5px; margin-right: 5px;">
        Postat de <b>{{ news.author }}</b> la data <b>{{ news.create_date }}</b>, valabil intre <b>{{ news.start_date }}</b> - <b>{{ news.end_date }}</b>
    </div>
</div>

<br><br>

<div style="width: 70%; margin-left: 15%; margin-top: 10px;">
{% if current_user.is_admin == 1 or current_user.is_teacher == 1 %}
    <div style="float: left;">
        <a class="btn btn-primary" href="/news/edit/{{ news.news_id }}/">Modifica</a>
    </div>
    <div style="float: left; margin-left: 10px;">
        <a class="btn btn-primary" href="/news/delete/{{ news.news_id }}/">Sterge</a>
    </div>
    <br><br>
{% endif %}
</div>

{% endblock %}